@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: 'Righteous', cursive;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: rgb(160, 182, 230);
   
}
header{
    background-color: rgb(28, 28, 153);
    padding: 3vh 5vw;
    display: flex;
    color:white;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(3, 18, 34);*/

}

main{
    min-height: 90vh;
    padding: 10vh 3vw;
    display: flex;
    flex-direction: column;
    gap:10vh;
    align-items: center;
}

main h2{
    color: black;
    text-align: center;
}
main form{
    display: flex;
    flex-direction: column;
    gap:3vh;
    width: 70%;
    
}
main form .inputContainer{
    border: none;
    width: 100%;
    color:white;
    background-color: rgb(160, 182, 230);
    flex-direction: column;
    gap:1vh;


}
main form .inputContainer input, select{
    border:none;
    border-bottom: 1px solid black;
    padding:10px;
    font-size:18px;
    background-color: rgb(160, 182, 230);

}


img{
    width: 80px;
    height: 80px;
    border: 10px rgb(108, 14, 171) solid;
    border-radius: 10px;
    position: relative;
    
}
.btn-calcular{
    background-color: #086dd1;
    color:white;
    border: 1px solid rgb(57, 102, 236);
    padding: 10px;
    border-radius: 5px;
    width:200px;
    height:50px;
    font-size: 18px;

}

input,select{
    font-size: 18px;
}

main form .inputContainer{
    display:flex;
    width: 100%;
    flex-direction: column;
    gap:1vh;
}
footer{
    padding: 3vh 5vw;
    text-align: center;
    background-color: rgb(81, 81, 175);
    color:rgb(44, 39, 39);
}
.contenedorMascota{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.imc-card{
    background-color: aquamarine;
    color:write;
    padding:10px;
    width: 300px;
    border-radius: 5px;
}