@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    font-family: 'Righteous', cursive;
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #F9FDFF;
}
header{
    background-color: #3D5A80;
    padding: 20px;
    display: flex;
    color:#656565; 
    justify-content: center; 
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(106, 171, 241);

}

img{
    width: 50%;
    height: 70px;
    
}

main{
    min-height: 90vh;
    padding: 10vh 3vw;
    display: flex;
    flex-direction: column;
    gap:10vh;
    align-items: center;
}

main h2{
    color: black;
    text-align: center;
}
main form{
    display: flex;
    flex-direction: column;
    gap:3vh;
    width: 70%;
    
}
main form .inputContainer{
    border: none;
    width: 100%;
    color:rgb(161, 158, 158);
    background-color: #F9FDFF;
    flex-direction: column;
    gap:1vh;


}
main form .inputContainer input, select{
    border:none;
    border-bottom: 1px solid black;
    padding:10px;
    font-size:18px;
    background-color: #F9FDFF;

}


.btn-calcular{
    background-color: #3D5A80;
    color:white;
    border: 1px solid rgb(57, 102, 236);
    padding: 10px;
    border-radius: 5px;
    width:200px;
    height:50px;
    font-size: 18px;
    

}

input,select{
    font-size: 18px;
}

main form .inputContainer{
    display:flex;
    width: 100%;
    flex-direction: column;
    gap:1vh;
}
footer{
    padding: 3vh 5vw;
    text-align: center;
    background-color: #3D5A80;
    color:rgb(41, 41, 41);
}
.contenedorMascota{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
}
.imc-card{
    background-color: aquamarine;
    color:write;
    padding:10px;
    width: 300px;
    border-radius: 5px;
}